.MuiOutlinedInput-notchedOutline {
  border-color: var(--gray);
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: var(--button);
  scale: 1.02;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--button);
}
.MuiAutocomplete-option:hover {
  background-color: var(--button) !important;
  color: var(--white);
}
.MuiButtonBase-root:hover {
  color: var(--button);
}
