.reviews {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.review {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.author {
  display: flex;
  align-items: center;
  gap: 16px;
}
.avatar {
  border-radius: 60px;
  width: 40px;
  height: 40px;
  background: var(--badges);
  font-weight: 600;
  font-size: 16px;
  line-height: 133%;
  color: var(--button);
  display: flex;
  justify-content: center;
  align-items: center;
}
.authorName {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: var(--main);
}

.comment {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--text);
}

@media screen and (min-width: 768px) {
  .reviews {
    gap: 44px;
    flex-basis: 100%;
  }
  .review {
    gap: 16px;
  }
  .author {
    gap: 16px;
  }
  .avatar {
    width: 60px;
    height: 60px;
    font-size: 24px;
  }
  .authorName {
    font-size: 16px;
  }

  .comment {
    font-size: 16px;
  }
}
