.navigation {
  display: none;
}
.active {
  color: var(--button-hover);
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    gap: 32px;
  }
}

.mobNavigation {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navLink {
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navLink:hover {
  scale: 1.2;
}
