.searchFormBlock {
  gap: 30px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .searchFormBlock {
    gap: 48px;
    padding-top: 0px;
    max-width: 360px;
    padding-right: 20px;
  }
}

.btn {
  border-radius: 200px;
  padding: 16px 60px;
  cursor: pointer;
  border: 0;
  background: var(--button);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover {
  scale: 1.2;
  background-color: var(--button-hover);
}
.clearBtn {
  margin-top: 10px;
  border-radius: 200px;
  padding: 16px 60px;
  cursor: pointer;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
  letter-spacing: -0.01em;
  border: 1px solid var(--gray-light);

  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clearBtn:hover {
  scale: 1.2;
  border-color: var(--button);
}
