.searchFormBlock {
  gap: 30px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buttons {
  display: flex;
  gap: 15px;
}
.buttons button {
  border-radius: 200px;
  cursor: pointer;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: -0.01em;
  font-weight: 500;
  font-size: 16px;
  padding: 16px 60px;
}
.btn {
  background: var(--button);
  color: var(--white);
}
.btn:hover {
  scale: 1.2;
  background-color: var(--button-hover);
}
.clearBtn {
  color: var(--text);
  border: 1px solid var(--gray-light);
}

.clearBtn:hover {
  scale: 1.2;
  border-color: var(--button);
}

@media screen and (min-width: 768px) {
  .searchFormBlock {
    gap: 48px;
    padding-top: 0px;
    max-width: 360px;
    padding-right: 20px;
  }
  .buttons {
    flex-direction: column;
    width: 230px;
  }
}
