.header {
  display: flex;
  /* position: fixed; */
  /* height: 72px; */
  top: 0;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 24px 0;
  background-color: var(--inputs);
}
