.header {
  display: flex;
  /* position: fixed; */
  /* height: 72px; */
  top: 0;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 24px 0;
  background-color: var(--inputs);
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
    position: relative;
    padding-right: 24px;
  }
}

@media screen and (min-width: 768px) {
  .btn {
    display: none;
  }
}
