.form {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  align-items: center;
  gap: 10px;
  /* padding: 0 20px; */
}
.label {
  position: relative;
  width: 100%;
  /* margin: 0;
  padding: 0; */
  display: block;
  /* padding: 0 18px; */
  /* box-sizing: border-box; */
}
.field {
  width: 100%;
  border-radius: 12px;
  padding: 0 18px;
  box-sizing: border-box;
  border: 0;
  background: var(--inputs);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  height: 60px;
}
/* .calendar {
  background-color: aquamarine;
} */
.comment {
  height: 100px;
}

.btn {
  border-radius: 200px;
  width: 130px;
  height: 46px;
  background: var(--button);
  border: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
  margin-top: 16px;
}
.error {
  color: var(--button);
  font-size: 10px;
  position: absolute;
  bottom: -8px;
  left: 0;
}

@media screen and (min-width: 768px) {
  .form {
    gap: 14px;
    margin-top: 24px;
  }
  .field {
    height: 60px;
    width: 100%;
    font-size: 16px;
  }
  .btn {
    margin-top: 24px;
    font-size: 16px;
    height: 56px;
    width: 166px;
  }
  .error {
    font-size: 14px;
  }
  .comment {
    height: 150px;
  }
}
