.features {
  border-radius: 10px;
  padding: 20px;
  /* height: 588px; */
  background: var(--inputs);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .features {
    width: 631px;
    padding: 44px;
  }
}
