.bookingBlock {
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 20px;
  /* height: 500px; */
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 8px;
}

.annotation {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--gray);
}

@media screen and (min-width: 768px) {
  .bookingBlock {
    padding: 44px;
    width: 641px;
  }
  .title {
    font-size: 20px;
  }
  .annotation {
    font-size: 16px;
  }
}
