.filtersBlock {
}
.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
  margin-bottom: 48px;
}
.filters {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.filterTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: var(--main);
  border-bottom: 1px solid var(--gray-light);
  padding-bottom: 24px;
}
.options {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}
.option {
  padding: 10px 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  max-height: 50px;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: -0.01em;
  gap: 8px;
  border: 1px solid var(--gray-light);
  cursor: pointer;

  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.option:hover {
  border-color: var(--button);
  scale: 1.1;
}
.checkboxInput {
  position: absolute;
  display: none;
}

.checkboxInput:checked ~ .option {
  border-color: var(--button);
}

.radioInput {
  position: absolute;
  display: none;
}
.radioInput:checked ~ .option {
  border-color: var(--button);
}

@media screen and (min-width: 1440px) {
  .filterTitle {
    font-size: 20px;
  }
  .option {
    width: 76px;
    height: 64px;
    font-size: 16px;
  }
  .options {
    gap: 8px;
    min-width: 360px;
  }
}
