.camperPage {
  padding: 20px 30px;
}
.switchers {
  margin-top: 28px;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: var(--main);
  display: flex;
  gap: 40px;
}

.switcher {
}
.chosenTab {
  border-bottom: 5px solid var(--button);
  padding-bottom: 14px;
}
.switcher:hover {
  color: var(--button);
}
.switchedContent {
  border-top: 1px solid var(--gray-light);
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .camperPage {
    padding: 48px 64px;
  }
  .switchers {
    margin-top: 64px;
    font-size: 20px;
  }
  .chosenTab {
    padding-bottom: 24px;
  }
  .switchedContent {
    flex-direction: row;
    padding: 44px 0;
    gap: 32px;
    flex-grow: 1 2;
  }
}
