.catalogItemsBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.item {
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  padding: 16px;
  /* height: 368px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .item {
    gap: 24px;
    padding: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .item {
    flex-direction: row;
    padding: 24px;
  }
}

.item:hover {
  scale: 1.01;
  border-color: var(--button);
}
