.catalogItemsBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.item {
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  padding: 24px;
  /* height: 368px; */
  display: flex;
  gap: 24px;
}
