.customDatePicker {
  border-radius: 12px;
  padding: 6px 18px !important;
  width: 100%;
  background: var(--inputs);
}

.customDatePicker .MuiInput-underline:before,
.customDatePicker .MuiInput-underline:after {
  border-bottom: none; /* Remove underline */
}

.customDatePicker .MuiInput-underline:hover:before,
.customDatePicker .MuiInput-underline:hover:after {
  border-bottom: none !important; /* Remove underline on hover */
}

.customDatePicker .MuiInput-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--gray);
}
@media screen and (min-width: 768px) {
  .customDatePicker {
    padding: 18px !important;
  }
  .customDatePicker .MuiInput-input {
    font-size: 16px;
  }
}
