.field {
  border-radius: 12px;
  padding: 0 18px;
  /* width: 100%; */
  /* width: calc(100%-40px); */
  height: 40px;
  border: 0;
  background: var(--inputs);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}
