.filterTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);

  border-bottom: 1px solid var(--gray-light); /* Adjust thickness and color */
  padding-bottom: 24px; /* Adjust spacing between text and underline */
}
/* .checkbox {
  visibility: hidden;
} */
.options {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  /* width: 300px; */
}

.option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 16px 18px;
  /* width: 76px;
  */
  width: 76px;
  height: 64px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  gap: 8px;
  border: 1px solid var(--gray-light);
  /* flex: 1 1 30%; Grow, shrink, and set the basis to 30% */

  /* 
  border-radius: 12px;
  display: flex;

  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
  width: 80px;
  height: 64px; */
}
.option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.option:hover input ~ .checkmark {
  background-color: #ccc;
}
.option input:checked ~ .checkmark {
  background-color: #2196f3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.option input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.option .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* .option:hover {
  border-color: var(--button);
}
.option .checkbox:checked ~ .option {
  background-color: #2196f3;
} */
