.filterTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);

  border-bottom: 1px solid var(--gray-light); /* Adjust thickness and color */
  padding-bottom: 24px; /* Adjust spacing between text and underline */
}

.options {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  /* width: 300px; */
}
.option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 16px 18px;
  /* width: 76px;
  */
  width: 76px;
  height: 64px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  gap: 8px;
  border: 1px solid var(--gray-light);
  /* flex: 1 1 30%; Grow, shrink, and set the basis to 30% */

  /* 
  border-radius: 12px;
  display: flex;

  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
  width: 80px;
  height: 64px; */
}
.option:hover {
  border-color: var(--button);
}
.defaultColor {
  border-color: var(--gray-light);
}

.clickedColor {
  background-color: blue;
  border-color: var(--button);
}
