.info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.mainInfo {
  /* display: flex;
  flex-direction: column; */
}
.title {
  margin-bottom: 6px;
  font-size: 20px;
}
.additionalText {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
  color: var(--main);
}
.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: underline;
  cursor: pointer;
}
.rating:hover {
  color: var(--button);
}
.location {
  display: flex;
  align-items: center;
  gap: 4px;
}
.price {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: var(--main);
}
.description {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--text);
}

@media screen and (min-width: 768px) {
  .info {
    gap: 24px;
  }
  .title {
    margin-bottom: 8px;
    font-size: 24px;
  }
  .additionalText {
    margin-bottom: 16px;
    font-size: 16px;
  }
  .price {
    font-size: 24px;
  }
  .description {
    font-size: 16px;
  }
}
